<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
</head>
<body>
    <h2>You are about edit this user : <%=user.email%></h2>
    <form action="/users/<%=user.id%>?_method=PATCH" method="post">
        <textarea name="username" id="username"><%= user.username%></textarea>
        <br>
        <input type="password" name="password" id="password" placeholder="Password">
        <button>Change</button>
    </form>
</body>
</html>